.carrito {
    display: flex;


}

.carrito img {
    width: 50px;
    height: 45px;

}

.carrito button {
    background-color: rgb(123, 173, 233);

    border: 1px solid rgb(123, 173, 233);

}

img:hover {
    transform: scale(105%);
    cursor: pointer;
}