
.ItemList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 30px;
    margin: 10px;
    
 
}

.ItemList button{
    font-weight: bold;
    border:solid 2px black;
    border-radius: 15px;
    
    padding: 10px;
    font-family:'Trebuchet MS';
    font-size: 1.8rem;
}











